*{
    margin: 0PX;
    padding: 0px;
    font-family: 'Charis SIL', serif;
    font-style: Regular 400 Italic;
    box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    background: rgb(85, 85, 124);
    align-items: center;
}
#container{
    
width: 600px;
height: 300px;
border-radius: 20px;
background: white;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
}
#container .heading h2{
    font-size: 2em;
}

#container .button button {
    padding: 7px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    background: orange;
    border: 0px;
    color: white;
    transition: all 0.35s ease-in-out;
    border-radius: 15px;
}
#container .button button:hover {
    transform: scale(1.1);
    box-shadow:inset 0px 0px 20px 20px rgb(75, 62, 62);
}
#container .jokes {
    padding: 0px 60px;
    text-align: center ;
}
@media screen and (max-width:545px) {
    #container {
        margin: 0px 20px;
        min-height: 400px;
        text-align: center;
    }
    #container .jokes{
        padding: 0px 10px;
    }
}